.container {
    display:grid;
    grid-template-columns: 1fr 1fr auto 1fr auto 1fr;
    grid-template-rows: 150px auto auto 30px calc(100vh - 243px);
    grid-template-areas: "header header header header header header"
                         "leftside input1 plus input2 equals rightside"
                         "leftside clear clear clear clear rightside"
                         "leftside results results results results rightside"
                         "footer footer footer footer footer footer";
}

body {
    margin: 0;
    color: rgb(78, 78, 14);
    font-family: 'Andale Mono', Courier, monospace;
    letter-spacing: 2px;
    background:
        linear-gradient(rgb(231, 231, 184), white);
}

input {
    font-family:'Andale Mono', Courier, monospace;
    font-weight: bold;
    border-style: none;
}

#title{
    grid-area: header;
    align-self: start;
    justify-self: center;
    margin-top: 30px;
}

#instructions{
    grid-area: header;
    align-self: end;
    justify-self: center;
    margin-bottom: 40px;
}

#input1{
    grid-area: input1;
    margin: 5px 0px;
    padding-left: 6px;
    background-color: rgb(252, 252, 232);
}

#operation{
    grid-area: plus;
    justify-self: center;
    padding: 0 7px;
    margin: 5px 10px;
    background-color: rgb(184, 184, 107);
    color: rgb(78, 78, 14);
    cursor: pointer;
}

#input2{
    grid-area: input2;
    margin: 5px 0px;
    padding-left: 6px;
    background-color: rgb(252, 252, 232);
}

#submitButton{
    grid-area: equals;
    justify-self: center;
    margin: 5px 0px 5px 10px;
    background-color: rgb(184, 184, 107);
    color:rgb(78, 78, 14);
    cursor: pointer;
}

#clearButton{
    grid-area: clear;
    margin: 5px 0px;
    padding: 5px;
    background-color: rgb(184, 184, 107);
    color: rgb(78, 78, 14);
    cursor: pointer;
}

#results{
    grid-area: results;
    justify-self: center;
    margin: 5px 0px;
}

#footer{
    justify-self: center;
    align-self: center;
    grid-area: footer;
}